@using OnionProject.Domain.Entities
@model List<ContactMessage>


    <h2 class="text-center mb-4">Gelen İletişim İstekleri</h2>

    <div class="card shadow-lg">
        <div class="card-body p-4">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>İsim</th>
                        <th>Email</th>
                        <th>Mesaj</th>
                        <th class="text-center">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in Model)
                    {
                        <tr class="align-middle">
                            <td>@message.Id</td>
                            <td>@message.Name</td>
                            <td>@message.Email</td>
                            <td>@message.Message</td>
                            <td class="text-center">
                                <a href="https://localhost:7225/Admin/AdminPost/DeleteContactMessage/@message.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



<style>
    body {
        background-color: #1a1d22; /* Gri renk arka plan */
        color: #333; /* Metin rengi */
    }

    .container {
        background-color: #525d5f; /* Açık gri arka plan */
        border-radius: 8px; /* Köşeleri yuvarlak */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
        padding: 20px; /* İç boşluk */
        margin-bottom: 20px; /* Dış boşluk */
    }

    h4, h2, p, th, td {
        color: #d6d6d6; /*Daha açık gri yazılar*/
    }



    .btn-primary {
        background-color: #007bff; /* Buton arka plan rengi */
        border-color: #007bff; /* Buton kenar rengi */
    }

        .btn-primary:hover {
            background-color: #0056b3; /* Buton hover rengi */
            border-color: #0056b3; /* Buton hover kenar rengi */
        }

    .card {
        background-color: #333c3d;
        border: none; /* Kart kenarını kaldır */
        border-radius: 8px; /* Yuvarlak köşeler */
    }

</style>
