@model UpdateAuthorDTO

<h2>Yazar Güncelleme</h2>

<form action="https://localhost:7225/Admin/Author/Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="Image"></label>
        <input type="file" asp-for="Image" />
        <span asp-validation-for="Image"></span>
    </div>

    <div>
        <label asp-for="Status"></label>
        <select asp-for="Status">
            <option value="0">Pasif</option>
            <option value="1">Aktif</option>
        </select>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>

    <div>
        <label asp-for="Biography"></label>
        <textarea asp-for="Biography"></textarea>
        <span asp-validation-for="Biography"></span>
    </div>

    <button type="submit">Güncelle</button>
</form>

