
@model OnionProject.Application.Models.DTOs.CreateGenreDTO

<div class="container">
    <h2>Yeni Tür Ekle</h2>
    <form action="https://localhost:7225/Admin/AdminGenre/Create" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a href="https://localhost:7225/Admin/AdminGenre/Index" class="btn btn-secondary">Geri</a>
    </form>
</div>

