@model OnionProject.Application.Models.DTOs.UpdateGenreDTO

<style>
    body {
        background-color: #1a1d22; /* Koyu gri arka plan rengi */
        color: #333; /* Metin rengi: koyu gri */
    }

    .cover-image {
        width: 100%; /* Resmin genişliği: %100 (bulunduğu alanı tamamen kaplar) */
        height: 400px; /* Resmin yüksekliği: 400 piksel */
        object-fit: cover; /* Resmin içeriğini kapsayacak şekilde boyutlandır */
        border-radius: 8px; /* Resmin kenarlarını yuvarlar */
        height: 550px; /* Resmin yüksekliği: 550 piksel (önceki yükseklikten daha yüksek) */
    }

    .container {
        background-color: #525d5f; /* Koyu gri arka plan rengi */
        border-radius: 8px; /* Container'ın köşelerini yuvarlar */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
        padding: 20px; /* İç boşluk: 20 piksel */
        margin-bottom: 20px; /* Alt boşluk: 20 piksel */
    }

    h4, h2, p {
        color: #d6d6d6; /* Başlık ve paragrafların rengi: açık gri */
    }

    .form-control {
        border-radius: 20px; /* Form elemanlarının kenarlarını yuvarlar */
    }

    .btn-primary {
        background-color: #007bff; /* Buton arka plan rengi: mavi */
        border-color: #007bff; /* Buton kenar rengi: mavi */
    }

        .btn-primary:hover {
            background-color: #0056b3; /* Buton hover (üzerine gelindiğinde) rengi: koyu mavi */
            border-color: #0056b3; /* Buton hover kenar rengi: koyu mavi */
        }

    .card {
        background-color: #333c3d; /* Kartın arka plan rengi: koyu gri */
        border: none; /* Kart kenarını kaldırır (kenar çizgisi yok) */
        border-radius: 8px; /* Kartın köşelerini yuvarlar */
    }

        .card .card-title {
            color: #0056b3; /* Kart başlığının rengi: mavi */
        }

    .pagination .page-link {
        color: #7d060e; /* Sayfa numaralarının rengi: koyu kırmızı */
    }
</style>

<div class="container">
    <h2>Türü Düzenle</h2>
    <form action="https://localhost:7225/Admin/AdminGenre/Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Güncelle</button>
        
        <a href="https://localhost:7225/Admin/AdminGenre/Index" class="btn btn-dark">Geri Dön</a>
    </form>
</div>
