@model IEnumerable<OnionProject.Application.Models.VMs.GenreVm>

<div class="container">
    <h2>Türler</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tür İsmi</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Id</td>
                    <td>@genre.Name</td>
                    <td>
                        
                        <a href="https://localhost:7225/Admin/AdminGenre/Edit/@genre.Id" class="btn btn-primary">Düzenle</a>

                        <a href="https://localhost:7225/Admin/AdminGenre/Delete/@genre.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @* <a href="@Url.Action("Create", "AdminGenre", new { area = "Admin" })" class="btn btn-success">Yeni Tür Ekle</a> *@
    <a href="https://localhost:7225/Admin/AdminGenre/Create" class="btn btn-success">Yeni Tür Ekle</a>
</div>
