@model IEnumerable<OnionProject.Application.Models.VMs.GenreVm>

<style>
    body {
        background-color: #1a1d22; /* Koyu gri arka plan rengi */
        color: #333; /* Metin rengi: koyu gri */
    }

    .container {
        background-color: #525d5f; /* Hafif gri arka plan rengi */
        border-radius: 8px; /* Köşeleri yuvarlak hale getirir */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
        padding: 20px; /* İçerik ile kenarları arasında 20 piksel boşluk bırakır */
        margin-bottom: 20px; /* Altında 20 piksel boşluk bırakır */
    }

    h4, h2, p, th, td {
        color: #d6d6d6; /* Başlıklar, paragraflar ve tablo hücreleri için açık gri metin rengi */
    }

    .btn-primary {
        background-color: #007bff; /* Butonun arka plan rengi: mavi */
        border-color: #007bff; /* Butonun kenar rengi: mavi */
    }

        .btn-primary:hover {
            background-color: #0056b3; /* Butonun üzerine gelindiğinde arka plan rengi: koyu mavi */
            border-color: #0056b3; /* Butonun üzerine gelindiğinde kenar rengi: koyu mavi */
        }

    .card {
        background-color: #f5f5dc; /* Kartın arka plan rengi: krem tonu */
        border: none; /* Kartın kenarını kaldırır */
        border-radius: 8px; /* Kartın köşelerini yuvarlar */
    }
</style>


<div class="container">
    <h2>Türler</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tür İsmi</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Id</td>
                    <td>@genre.Name</td>
                    <td>
                        
                        <a href="https://localhost:7225/Admin/AdminGenre/Edit/@genre.Id" class="btn btn-primary">Düzenle</a>

                        <a href="https://localhost:7225/Admin/AdminGenre/Delete/@genre.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <a href="https://localhost:7225/Admin/AdminGenre/Create" class="btn btn-success">Yeni Tür Ekle</a>
    <br />
    <a href="https://localhost:7225/Admin/AdminMain/Index" class="btn btn-dark">Geri Dön</a>
</div>
