@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Blog sayfamıza hoş geldiniz!</h1>
    <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Giriş Yap</a>
    <p>Kayıt olmadınız mı? <a href="@Url.Action("Register", "Home")">Kayıt olun</a></p>
</div>
