@model OnionProject.Application.Models.DTOs.LoginDTO

<style>
    body {
        background-color: #eab676; /* Krem rengi arka plan */
        color: #333; /* Metin rengi */
    }

    .container {
        background-color: #ebc18f; /* Beyaz arka plan */
        border-radius: 8px; /* Köşeleri yuvarlak */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
        padding: 20px; /* İç boşluk */
        margin-bottom: 20px; /* Dış boşluk */
    }

    h2, h5 {
        color: #21130d /* Koyu yeşil başlık rengi */
    }

    .form-control {
        border-radius: 20px; /* Yuvarlak kenarlar */
    }

    .btn-primary {
        background-color: #007bff; /* Buton arka plan rengi */
        border-color: #007bff; /* Buton kenar rengi */
    }

        .btn-primary:hover {
            background-color: #0056b3; /* Buton hover rengi */
            border-color: #0056b3; /* Buton hover kenar rengi */
        }

    .card {
        background-color: #f5f5dc;
        border: none; /* Kart kenarını kaldır */
        border-radius: 8px; /* Yuvarlak köşeler */
    }

    

    
</style>

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-5 shadow-lg" style="max-width: 400px; width: 100%;">

        <div class="text-center mb-2">
            <img src="https://localhost:7296/images/raven-removebg-preview.png" class="rounded-circle mb-2" alt="Logo" style="width: 150px; height: 150px; object-fit: cover;" />
            <h4>Raven's Blog</h4>
            <h2 class="fw-bold mt-2">Hoş Geldiniz!</h2>
            <p class="text-muted">Lütfen giriş yapın</p>
        </div>



        <form asp-action="Login" method="post">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" asp-for="Email" placeholder="Email" />
                <label for="email">Email Adresiniz</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" asp-for="Password" placeholder="Şifreniz" />
                <label for="password">Şifreniz</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Giriş Yap</button>
            </div>
        </form>

        <div class="text-center mt-3">
            <p>Hesabınız yok mu? <a href="@Url.Action("Register", "Home")" class="text-decoration-none">Kayıt olun</a></p>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />

